<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Clientes</h2>
                <hr class="primary">
                <p>Conheça abaixo alguns dos nossos trabalhos.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="http://mediaplanning.com.br/landing/estadao/" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Performance Marketing
                            </div>
                            <div class="project-name">
                                Campanha Estadão
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://senac.mpg.net.br/" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Desenv. e Performance Marketing
                            </div>
                            <div class="project-name">
                                Hot Page e Campanha SENAC
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://mediaplanning.com.br/vocacao/1" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Performance Marketing
                            </div>
                            <div class="project-name">
                                Campanha Vocação
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://landing.mediaplanning.com.br/landing/page/unifisa/1" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Performance Marketing
                            </div>
                            <div class="project-name">
                                Campanha Unifisa
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://mediaplanning.com.br/hinode/1" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Performance Marketing
                            </div>
                            <div class="project-name">
                                Campanha Hinode
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="/publishers" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Integração com Ad Exchange
                            </div>
                            <div class="project-name">
                                <i class="fa fa-plus-circle"></i> Cadastre-se como Publisher
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="https://saibala.com.br/" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/7.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                E-commerce Marketing
                            </div>
                            <div class="project-name">
                                Campanha CPV Saibalá
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="http://www.vitadermstore.com.br/" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/8.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                E-commerce Marketing
                            </div>
                            <div class="project-name">
                                Campanha CPV Vitaderm
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="http://2peace2dance.com.br" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/9.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                E-commerce Marketing
                            </div>
                            <div class="project-name">
                                Campanha CPV 2Peace
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
