<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">O que Fazemos</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">

                <div class="service-box">
                  <a href="/publishers">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary"></i>
                    <h3>Para <i>publishers</i></h3>
                    <p class="text-muted">
                      Conecte seu site, portal ou aplicativo em nossa AdExchange Premium e comece a rentabilizar seu inventário.
                      <b><u>Saiba mais.</u></b>
                    </p>
                  </a>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 text-center">

                <div class="service-box">
                    <a href="/advertisers">
                      <i class="fa fa-4x fa-bullhorn wow bounceIn text-primary" data-wow-delay=".1s"></i>
                      <h3>Para <i>advertisers</i></h3>
                      <p class="text-muted">
                        Anúncios de alto impacto exibidos para quem é realmente importante para o seu negócio.
                        <b><u>Saiba mais.</u></b>
                      </p>
                    </a>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                  <a href="/adtech">
                    <i class="fa fa-4x fa-cogs wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3><i>AdTech</i> e desenvolvimento</h3>
                    <p class="text-muted">
                      Analytics, AdWords, mídias sociais, CRMs, criação de APPs, sites e projetos customizados.
                      <b><u>Saiba mais.</u></b>
                    </p>
                  </a>
                </div>
            </div>
        </div>
    </div>
</section>
